
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Posts</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for post in posts %}
    <li class="list-group-item">
      {{ post.body }}
      <button type="button" class="close" onClick="deleteNote({{ posts.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="post" id="post" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
{% endblock %}